<p>common-component works!</p>
<body>
<div class="card-body">
    <h5 class="card-title">Laptop</h5>
    <p class="card-text">HP 15s-du0050tu (6YE06PA) Laptop (Core i3 7th Gen/4 GB/1 TB 256 GB SSD/Windows 10)
      ₹39,800.00 INR*· In stock·Brand: HP
      ... laptop has a 15.6 Inches (39.62 cm) display for your daily needs. This laptop is powered by Intel Core i3 7020U (7th Gen) processor, coupled with ...
      * Check website for latest pricing and availability. Images may be subject to copyright. Learn More
      n ng</p>
    <a routerLink="LAP" class="btn btn-success">ViewDetails</a>
  </div>
</body>